<h1>Player List</h1>
<table>
  <tr>
    <th>Player Id</th>
    <th>Player Name</th>
    <th>Nick Name</th>
    <th>Birthday</th>
    <th>Nationality</th>
    <th>Age</th>
    <th>Father Name</th>
    <th>Mother Name</th>
    <TH colspan="2">ACTION</TH>
  </tr>
  <tr *ngFor="let player of playersdata; ">
    <td>{{player.Id}}</td>
    <td>{{player.playerName |uppercase}}</td>
    <td>{{player.nickName |uppercase}}</td>
    <td>{{player.birthday}}</td>
    <td>{{player.nationality |uppercase}}</td>
    <td>{{player.Age}}</td>
    <td>{{player.fatherName |uppercase}}</td>
    <td>{{player.motherName |uppercase}}</td>
    <td><button (click)="editPlayer(player)">Edit</button></td>
    <td><button (click)="deletePlayer(player)">Delete</button></td>
  </tr>

</table>